test
main
.vscode
*.txt
*.npy
/src/*.txt
/src/main
/pymodule/build/
/pymodule/*.so
*egg-info*
**/plotting_data/
**/data/
**/__pycache__/
/**/__pycache__/
.DS_Store
/analysis/hypercube_percolation.pdf
/src/test.c
